@model GastoTransparenteMunicipal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Establecer contraseña";
}


<div class="container">
    <div class="row seccion-destado">
        <div class="col-12">
            <h2>Establecer contraseña</h2>
        </div>
        <div class="col-12">
            @using (Html.BeginForm("ResetPassword", "Cuenta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Establecer contraseña.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "******", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = " * *****", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Establecer" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>






